@page
@model RazorShop.Pages.Checkout.CheckoutModel
@{
}

<a class="nav-link text-dark" asp-area="" asp-page="Checkout/ThankYou">ThankYou</a>

<h1>Your Order</h1>
@{
    var imagePath = "~/images/images/" + (@Model.ImageTitle + ".jpg");
}
<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        <img src=@imagePath class="w-100" asp-append-version="true"/>
        <p>Your orde @Model.ItemName Waiting</p>
        <p>Total price: @Model.OrderPrice$</p>
        <br/>
        <a class="btn alert-primary mt-1 mx-auto" asp-area="" asp-page="ThankYou">Finish Order</a>
    </div>
</div>
